{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}

    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Équipement(s) disponible(s)</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content roomdashboard">
            {% if object_list|length == 0 %}
                <div class="col-sm-12">
                    <div class="card shadow-sm text-bg-dark empty-card mb-5">
                        <div class="empty-card-space"></div>
                        <div class="card-img-overlay empty-card-text">
                            <h5 class="card-title fs-4">Aucun équipement disponible</h5>
                            <p class="card-text fs-6">Il n'y a actuellement aucun équipement disponible. Veuillez vérifier à nouveau plus tard.</p>
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="empty-card-button"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for equipment in object_list %}
                <div class="col-sm-12 col-md-6">
                    <div class="card shadow-sm text-bg-dark position-relative card-available-rooms">
                        <img src="{{ MEDIA_PREFIX }}{{ equipment.image }}" class="object-fit-cover" alt="{{ equipment.libEquipment }}">
                        <div class="card-img-overlay">
                            <h5 class="card-title fs-3">{{ equipment.libEquipment }}</h5>
                            <p class="card-text fs-6">{{ equipment.description }}</p>
                            <span class="badge text-bg-secondary fs-7">{{ equipment.nbrEquipments }} disponible(s) au total</span>
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <a href="{% url 'bookedequipments_new' equipment.pk %}" class="btn btn-success card-link button-style w-75">Réserver</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if object_list|length|divisibleby:2 %}
                <div class="col-sm-12">
                    <div class="card shadow-sm text-bg-dark empty-card mb-5">
                        <div class="empty-card-space"></div>
                        <div class="card-img-overlay empty-card-text">
                            <h5 class="card-title fs-4">Aucun autre équipement disponible</h5>
                            <p class="card-text fs-6">Cliquez sur le bouton &laquo;Réserver&raquo; pour emprunter un équipement.</p>
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="empty-card-button"></div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-12 col-md-6">
                    <div class="card shadow-sm text-bg-dark empty-card">
                        <div class="empty-card-space"></div>
                        <div class="card-img-overlay empty-card-text">
                            <h5 class="card-title fs-4">Aucun autre équipement disponible</h5>
                            <p class="card-text fs-6">Cliquez sur le bouton &laquo;Réserver&raquo; pour emprunter un équipement.</p>
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="empty-card-button"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
