/*
    Projet : Room Questic
    Description : Site de réservation - Python (Django)
    Version : 1.0
    Auteurs :
        - Tom SIKORA
        - Léo BERNARD
        - Nino SAUVAGEOT
        - Thomas PAZZE
*/

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-white) !important;
}

img {
    pointer-events: none;
    user-select: none;
}

:root {
    /* Couleurs principales */
    --color-light-blue: #0275d8;  /* Couleur 1 : Bleu clair  */
    --color-blue: #036cc8;        /* Couleur 2 : Bleu        */
    --color-dark-blue: #025dad;   /* Couleur 3 : Bleu foncé  */
    --color-dark-grey: #373a3c;   /* Couleur 4 : Gris foncé  */
    --color-light-white: #ffffff; /* Couleur 6 : Blanc clair */
    --color-white: #ececec;       /* Couleur 5 : Blanc       */
    --color-dark-white: #dddddd;  /* Couleur 7 : Blanc foncé */
    --color-red: #ff1616;         /* Couleur 8 : Rouge       */

    /* Dégradé */
    --color-gradient: linear-gradient(0.25turn, #264085, #1D5895, #1079AA, #00A9CD);

    /* Couleurs des différents labos */
    --color-crestic: #00A9CD;
    --color-labi: #00E2D5;
    --color-liciis: #B3B3B3;
}

/*----------------- Page de base -----------------*/
/* Barre de navigation */
nav.navbar {
    background: var(--color-gradient);
}

ul.navbar-nav > li.nav-item > a {
    font-weight: bold;
    color: var(--color-light-white);
}

span.nav-line {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid var(--color-light-white);
    margin: 10px 5px 0 5px;
    height: 40%;
}

ul.navbar-nav > li.nav-item > a {
    margin: 0 3px;
    font-family: "Lexend", sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: none !important;
}

ul.navbar-nav > li.nav-item > a:hover {
    color: var(--color-white);
}

ul.navbar-nav > li.nav-item > a:active {
    color: var(--color-dark-white);
}

/* Container */
div.navbar-container {
    flex-direction: column;
    align-content: flex-start;
}

li.nav-item > span.nav-line {
    display: none;
}

ul.dropdown-menu.show {
    position: absolute;
    margin-top: -5px;
}

@media (min-width: 992px) {
    div.navbar-container {
        flex-direction: row;
        align-content: normal;
    }

    li.nav-item > span.nav-line {
        display: block;
    }
}

/* Menu dropdown */
li.nav-item.dropdown a:active {
    background: var(--color-white) none;
}

.navbar-nav .nav-link.show {
    color: var(--color-dark-white) !important;
}

/* Logo */
a.navbar-brand > img {
    height: 45px;
    margin-top: 2px;
}

/* Bloc flex grow */
div.flex-space-bloc {
    flex: 1;
}

/* Footer */
footer {
    padding: 5px 0;
    background: var(--color-gradient);
}

a.img-link {
    display: block;
    height: 50px;
    margin-top: 10px;
}

a.img-link > img {
    height: 100%;
}

a.crestic-link {
    text-decoration: none;
    color: var(--color-light-white);
}

a.crestic-link:hover {
    color: var(--color-white);
}

a.crestic-link:active {
    color: var(--color-dark-white);
}

footer p {
    display: flex;
    justify-content: center;
    margin: 5px 0;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: var(--color-light-white);
}

footer > div > p:nth-child(2) {
    margin-top: 20px;
}

footer > div > p:last-child {
    font-weight: 600;
}

footer p > i {
    margin-right: 8px;
}

/* Icones */
.material-icons {
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}

/*---------------- Page d'accueil ----------------*/
/* Calendrier */
div#calendar {
    margin: 15px;
}

div.fc-view-harness.fc-view-harness-passive {
    margin-top: -8px;
    background-color: var(--color-light-white);
}
a.event-crestic {
    background-color: #ffcc00 !important;
}
a.event-labi {
    background-color: #00E2D5 !important;
}
a.event-liciis {
    background-color: #B3B3B3 !important;
}
a.event-pending {
    background-color: darkgrey !important;
}

/* Écran de réservation */
div.modal-reservation {
    display: none;
    width: 350px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    z-index: 999;
    border: 1px solid #ccc;
    background: var(--color-light-white);
}

div.modal-reservation h2 {
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
    font-size: 22px;
}

div.modal-reserv-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Titre */
div.fc-toolbar-chunk > h2.fc-toolbar-title {
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    color: var(--color-dark-grey);
}

/* Bouton aujourd'hui */
div.fc-toolbar-chunk > button.fc-today-button.fc-button.fc-button-primary {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    border-color: var(--color-blue);
    background-color: var(--color-light-blue);
}

div.fc-toolbar-chunk > button.fc-today-button.fc-button.fc-button-primary:hover {
    background-color: var(--color-blue);
}

div.fc-toolbar-chunk > button.fc-today-button.fc-button.fc-button-primary:active {
    background-color: var(--color-dark-blue);
}

/* Bouton avant */
button.fc-prev-button.fc-button.fc-button-primary {
    border-color: var(--color-blue);
    background-color: var(--color-light-blue);
}

button.fc-prev-button.fc-button.fc-button-primary:hover {
    background-color: var(--color-blue);
}

button.fc-prev-button.fc-button.fc-button-primary:active {
    background-color: var(--color-dark-blue);
}

/* Bouton Semaine */
button.fc-timeGridWeek-button {
    font-family: "Outfit", sans-serif !important;
    font-weight: 400 !important;
    border-color: var(--color-blue) !important;
    background-color: var(--color-light-blue) !important;
}

button.fc-timeGridWeek-button:hover {
    background-color: var(--color-blue) !important;
}

button.fc-timeGridWeek-button:active {
    background-color: var(--color-dark-blue) !important;
}

/* Bouton Jour */
button.fc-timeGridDay-button {
    font-family: "Outfit", sans-serif !important;
    font-weight: 400 !important;
    border-color: var(--color-blue) !important;
    background-color: var(--color-light-blue) !important;
}

button.fc-timeGridDay-button:hover {
    background-color: var(--color-blue) !important;
}

button.fc-timeGridDay-button:active {
    background-color: var(--color-dark-blue) !important;
}

/* Bouton après */
button.fc-next-button.fc-button.fc-button-primary {
    border-color: var(--color-blue);
    background-color: var(--color-light-blue);
}

/* Semaine */
a.fc-timegrid-axis-cushion.fc-scrollgrid-shrink-cushion.fc-scrollgrid-sync-inner {
    text-decoration: none;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
}

/* Heures */
div.fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.fc-timegrid-slot-label-frame.fc-scrollgrid-shrink-frame > div {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

/* Jours */
a.fc-col-header-cell-cushion {
    margin: 2px 0;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: var(--color-light-blue) !important;
}

/*---------- Page des salles à réserver ----------*/
/* Titre de la page */
h2.container-title {
    margin: 20px 0 0 0;
    font-family: "Lexend", sans-serif;
    font-weight: 600;
}

/* Bloc qui contient les salles */
div.row.content.roomdashboard {
    margin: 20px 0 0 0;
}

div.row.content.roomdashboard div.card {
    margin-bottom: 20px;
}

/* Bouton de réservation */
a.booked-button {
    border-color: var(--color-blue) !important;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: var(--color-light-blue) !important;
}

a.booked-button:hover {
    background-color: var(--color-blue) !important;
}

a.booked-button:active {
    background-color: var(--color-dark-blue) !important;
}

/* Bouton d'ajout */
div.col-sm-12 > a.btn.btn-primary {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    border-color: var(--color-blue) !important;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: var(--color-light-blue) !important;
}

div.col-sm-12 > a.btn.btn-primary:hover {
    background-color: var(--color-blue) !important;
}

div.col-sm-12 > a.btn.btn-primary:active {
    background-color: var(--color-dark-blue) !important;
}

div.col-sm-12 > a.btn.btn-primary > i {
    margin-right: 5px;
}

/*-------- Page de réservation d'une salle --------*/
/* Formulaire */
form.roomreservation {
    margin: 15px 0;
}

form.roomreservation label {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

form.roomreservation span.asteriskField {
    color: var(--color-red);
}

form.roomreservation > button {
    width: 100%;
    margin-top: 5px;
    border-color: var(--color-blue) !important;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background-color: var(--color-light-blue) !important;
}

form.roomreservation > button:hover {
    background-color: var(--color-blue) !important;
}

form.roomreservation > button:active {
    background-color: var(--color-dark-blue) !important;
}

/*------- Page de suppression d'une salle -------*/
div.roomdashboard_delete {
    margin: 30px 0;
}

/*---------------- Page de profil ----------------*/
span.profiletitle {
    color: var(--color-light-blue);
}

/* Titre réservations */
div.roomdashboard > h3 {
    margin-bottom: 10px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: var(--color-light-blue);
}

/* Bouton annuler */
a.cancel-button {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-light-white);
}

a.cancel-button:hover {
    color: var(--color-light-white);
}

a.cancel-button:active {
    color: var(--color-light-white) !important;
}

/*------- Page de modification d'une salle -------*/
form.roomreservation > div#div_id_image > div {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/*--------- Page des détails d'une salle ---------*/
div.detail-card {
    padding: 0;
    margin-top: 15px;
    margin-left: 15px;
}

div.detail-card img {
    margin: 0;
}

@media screen and (min-width: 768px) {
    div.detail-card {
        margin-left: 15px;
    }
}
