{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="col-sm-12 d-flex justify-content-center">
            <h2 class="container-title reservationpage">Modifier la réservation</h2>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row content col-sm-12 d-flex justify-content-center">
            <form class="roomreservation reservationpage" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.equipment_category | as_crispy_field }}
                {{ form.date | as_crispy_field }}
                {{ form.startTime | as_crispy_field }}
                {{ form.endTime | as_crispy_field }}
                {{ form.motif | as_crispy_field }}
                {{ form.groups | as_crispy_field }}
                <label class="asterisk-def">
                    <span class="asteriskField">*</span>
                    signifie que ce champ est obligatoire.
                </label>

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field_errors in form.errors.values %}
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <button type="submit" class="btn btn-primary button-style">Valider</button>
            </form>
        </div>
    </div>
{% endblock content %}
