{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Réserver une salle</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %}{{ form|crispy }}{% endcomment %}
    {{ form.media }}
    {{ form.room_category|as_crispy_field }}
    {{ form.nbr_of_rooms|as_crispy_field }}
    {{ form.date| as_crispy_field}}
    {{ form.startTime| as_crispy_field}}
    {{ form.endTime|as_crispy_field }}
    <button type="submit" class="btn btn-info ml-2">Save</button>
</form>
{% endblock content %}
