{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card text-center dashboard-style">
            <div class="card-header">
                Confirmer l'annulation
            </div>
            <div class="card-body">
                <h5 class="card-title">Êtes-vous sûr de vouloir annuler cette réservation ?</h5>
                <p class="card-text mb-3">Cette action est irréversible. Toutes les données associées à cette réservation seront définitivement effacées.</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-success button-style d-inline-flex" type="submit">
                        <i class="bi bi-exclamation-triangle mr-2"></i>
                        Confirmer
                    </button>
                    <a class="btn btn-danger button-style button-red" type="button" href="{% url 'home' %}">Retour</a>
                </form>
            </div>
            <div class="card-footer text-body-secondary">
                {{ bookedequipment.equipment_category.libEquipment }}
            </div>
        </div>
    </div>
{% endblock content %}
