{% extends 'base.html' %}

{% block title %} Booked Rooms Admin View{% endblock title %}

{% block content %}
<h1>Salle(s) Réservée(s)</h1>
<table class="striped">
    <thead>
      <tr>
          <th>Nom de la salle</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Motif</th>
          <th>Nombre de personnes</th>
          <th>Date de début</th>
          <th>Date de fin</th>
      </tr>
    </thead>
    <tbody>
{% for bookedroom in object_list %}

    <tr>
        <td>{{ bookedroom.room_category.nom_de_la_salle }}</td>
        <td>{{ bookedroom.user.first_name }}</td>
        <td>{{ bookedroom.user.last_name }}</td>
        <td>{{ bookedroom.nbr_of_rooms }}</td>
        <td>{{ bookedroom.start_date }}</td>
        <td>{{ bookedroom.end_date }}</td>
        <td>{{ bookedroom.room_category.motif_de_reservation }}</td>
        <td>{{ bookedroom.total_cost }}</td>
    </tr>

{% if forloop.last %}
    </tbody>
</table>
{% endif %}
{% endfor %}
{% endblock content %}
