
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<h1>Modifier les détails de la réservation</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    {{ form|crispy }}
    
    {% if form.date.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.date.errors.0 }}
        </div>
    {% endif %}

    {% if form.startTime.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.startTime.errors.0 }}
        </div>
    {% endif %}
    <button type="submit" class="btn btn-info ml-2">Update</button>
</form>
{% endblock content %}

