{% extends 'base.html' %}

{% block content %}
    <h1>Équipements(s) Réservé(s)</h1>
    <table class="striped">
        <thead>
            <tr>
                <th>Nom de la salle</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Motif</th>
                <th>Nombre de personnes</th>
                <th>Date de début</th>
                <th>Date de fin</th>
            </tr>
        </thead>
        <tbody>
        {% for bookedroom in object_list %}
            <tr>
                <td>{{ bookedroom.room_category.libRoom }}</td>
                <td>{{ bookedroom.user.first_name }}</td>
                <td>{{ bookedroom.user.last_name }}</td>
                <td>{{ bookedroom.peopleAmount }}</td>
                <td>{{ bookedroom.date }}</td>
                <td>{{ bookedroom.startTime }}</td>
                <td>{{ bookedroom.endTime }}</td>
            </tr>

        {% if forloop.last %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
{% endblock content %}
