{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <div class="col-sm-12 d-flex justify-content-center">
            <h2 class="container-title reservationpage">Modifier un équipement</h2>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row content col-sm-12 d-flex justify-content-center">
            <form class="roomreservation reservationpage" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.libEquipment | as_crispy_field }}
                {{ form.description | as_crispy_field }}
                {{ form.image | as_crispy_field }}
                {{ form.nbrEquipments | as_crispy_field }}
                <label class="asterisk-def">
                    <span class="asteriskField">*</span>
                    signifie que ce champ est obligatoire.
                </label>

                <button type="submit" class="btn btn-primary button-style">Valider</button>
            </form>
        </div>
    </div>

    <script>
        // Workaround to remove the "Currently set" text
        let elem = document.querySelector(".custom-file a");
        const customFile = document.querySelector(".custom-file");
        elem.remove();
        elem = document.querySelector(".custom-file br");
        elem.remove();
        customFile.innerHTML = customFile.innerHTML.replace('Currently:', '');
        customFile.innerHTML = customFile.innerHTML.replace('Change:', '');
    </script>
{% endblock content %}
