{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}

    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Détails de l'équipement</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content col-sm-12">
            <div class="card detail-card">
                <div class="row g-0">
                    <div class="col-md-4 img-max">
                        <img src="{{ MEDIA_PREFIX }}{{ object.image }}" class="img-fluid rounded-start" alt="{{ equipment.libEquipment }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.libEquipment }}</h5>
                            <p class="card-text">{{ object.description }}</p>
                        </div>
                        <div class="card-body">
                            <div class="btn-group card-link" role="group" aria-label="Boutons">
                                <a href="{% url 'equipmentdashboard_edit' object.pk %}" class="btn btn-warning button-style">Modifier</a>
                                <a href="{% url 'equipmentdashboard_delete' object.pk %}" class="btn btn-danger button-style button-red">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title other">Réservation en cours</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content col-sm-12 mb-5">
            {% for bookedequipment in BookedEquipment %}
                {% if object.id == bookedequipment.equipment_category.id and bookedequipment.status != "canceled" %}
                    <div class="col-sm-12 col-md-6">
                        <div class="card shadow-sm">
                            <img src="{{ MEDIA_PREFIX }}{{ bookedequipment.equipment_category.image }}" class="card-img-top" alt="{{ equipment.equipment_category.libRoom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ bookedequipment.equipment_category.libRoom }}</h5>
                                <p class="card-text">{{ bookedequipment.motif }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Jour de réservation : {{ bookedequipment.date }}</li>
                                <li class="list-group-item">Heure de début : {{ bookedequipment.startTime }}</li>
                                <li class="list-group-item">Heure de fin : {{ bookedequipment.endTime }}</li>
                            </ul>
                            <div class="card-body">
                                <div class="btn-group card-link" role="group" aria-label="Boutons">
                                    <a href="{% url 'bookedequipment_edit' bookedequipment.pk %}" class="btn btn-primary button-style" >Modifier</a>
                                    <a href="{% url 'bookedequipment_delete' bookedequipment.pk %}" class="btn btn-danger card-link button-style button-red">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
