{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card text-center dashboard-style">
            <div class="card-header">
                Confirmer la suppression
            </div>
            <div class="card-body">
                <h5 class="card-title">Êtes-vous sûr de vouloir supprimer cet équipement ?</h5>
                <p class="card-text mb-3">Cette action est irréversible. Toutes les données associées à cet équipement seront définitivement effacées.</p>
                <form method="post">
                    {% csrf_token %}
                    <button class="btn btn-success button-style d-inline-flex" type="submit">
                        <i class="bi bi-exclamation-triangle mr-2"></i>
                        Confirmer
                    </button>
                    <a class="btn btn-danger button-style button-red" type="button" href="{% url 'equipmentdashboard_list' %}">Retour</a>
                </form>
            </div>
            <div class="card-footer text-body-secondary">
                {{ object.libEquipment }}
            </div>
        </div>
    </div>
{% endblock content %}
