{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Page d'accueil{% endblock title %}

{% block link %}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" rel="stylesheet" />
{% endblock link %}

{% block content %}
    <div id="modal" class="modal-reservation">
        <h2>Faire une réservation</h2>
        <form id="eventForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.media }}
                {{ form.room_category | as_crispy_field }}
                {{ form.peopleAmount | as_crispy_field }}
                {{ form.date | as_crispy_field }}
                {{ form.startTime | as_crispy_field }}
                {{ form.endTime | as_crispy_field }}
                {{ form.motif | as_crispy_field }}
                {{ form.groups | as_crispy_field }}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field_errors in form.errors.values %}
                                {% for error in field_errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

          <button type="submit">Enregistrer</button>
          <button type="button" id="btnCloseModal">Fermer</button>
        </form>
    </div>

    <div id="eventModal" class="modal-reservation">
        <h2>Détails de la réservation</h2>
        <p id="eventDescription"></p>
        <button type="button" id="btnCloseEventModal">Fermer</button>
    </div>

    <div id='calendar'></div>
{% endblock content %}

{% block script %}
    <!-- Importations FullCalendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.4.0/ical.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.5.1/main.global.min.js"></script>
    <script src="/static/js/fullcalendar.js"></script>
{% endblock script %}
