{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block title %}Page d'accueil{% endblock title %}

{% block link %}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" rel="stylesheet" />
{% endblock link %}

{% block content %}
    <button type="button" class="d-none modalAdd" data-bs-toggle="modal" data-bs-target="#modalAdd"></button>
    <div class="modal fade modal-reservation" id="modalAdd" tabindex="-1" aria-labelledby="modalAdd" aria-hidden="true">
        <div class="modal-dialog">
            <form class="modal-content roomreservation" id="eventForm" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Réserver une salle</h1>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.room_category | as_crispy_field }}
                    {{ form.peopleAmount | as_crispy_field }}
                    {{ form.date | as_crispy_field }}
                    {{ form.startTime | as_crispy_field }}
                    {{ form.endTime | as_crispy_field }}
                    {{ form.motif | as_crispy_field }}
                    {{ form.groups | as_crispy_field }}

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <ul>
                                {% for field_errors in form.errors.values %}
                                    {% for error in field_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseAdd" class="btn btn-danger cancel-button" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-success cancel-button">Valider</button>
                </div>
            </form>
        </div>
    </div>

    <button type="button" class="d-none modalDetails" data-bs-toggle="modal" data-bs-target="#modalDetails"></button>
    <div class="modal fade modal-reservation" id="modalDetails" tabindex="-1" aria-labelledby="modalDetails" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="eventTitle"></h1>
                </div>
                <div id="eventDescription" class="modal-body"></div>
                <div class="modal-footer">
                    {% if user.is_authenticated %}
                        <div class="eventDetailsButtons">
                            <a id="ancreEdit" class="btn btn-primary booked-button" >Modifier</a>
                            <a id="ancreDelete" class="btn btn-danger card-link cancel-button">Annuler</a>
                        </div>
                    {% endif %}
                    <button type="button" class="btn btn-danger cancel-button" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    <div id='calendar'></div>
{% endblock content %}

{% block script %}
    <!-- Importations FullCalendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.4.0/ical.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@5.5.1/main.global.min.js"></script>
    <script src="/static/js/fullcalendar.js"></script>
{% endblock script %}
