{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}
    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Bienvenue <span class="profiletitle">{{ user.last_name }} {{ user.first_name }}</span></h2>
        </div>
    </div>

    <div class="container">
        <div class="row content roomdashboard">
            <h3>Vos réservations :</h3>
            {% for bookedroom in object_list %}
                {% if bookedroom.user == user and bookedroom.status != "canceled" %}
                    <div class="col-sm-12 col-md-6">
                        <div class="card shadow-sm">
                            <img src="{{ MEDIA_PREFIX }}{{ bookedroom.room_category.image }}" class="card-img-top" alt="{{ room.room_category.libRoom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ bookedroom.room_category.libRoom }}</h5>
                                <p class="card-text">{{ bookedroom.motif }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Nombre de pers. max. : {{ bookedroom.peopleAmount }}</li>
                                <li class="list-group-item">Jour de réservation : {{ bookedroom.date }}</li>
                                <li class="list-group-item">Heure de début : {{ bookedroom.startTime }}</li>
                                <li class="list-group-item">Heure de fin : {{ bookedroom.endTime }}</li>
                            </ul>
                            <div class="card-body">
                                <div class="btn-group card-link" role="group" aria-label="Boutons">
                                    <a href="{% url 'bookedrooms_edit' bookedroom.pk %}" class="btn btn-primary button-style" >Modifier</a>
                                    <a href="{% url 'bookedrooms_delete' bookedroom.pk %}" class="btn btn-danger card-link button-style button-red">Annuler</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
