{% extends 'base.html' %}

{% block title %}Page de profil{% endblock title %}

{% block content %}
    <div id="welcome" class="welcome">
        <h2>Bienvenue Nom Prénom</h2>
        <table>
            <tr>
                <td>Nom de salle</td>
                <td>Heure début</td>
                <td>Heure fin</td>
                <td>Motif</td>
                <td>Nombre de personnes</td>
            </tr>
            <tr>
                <td>Nom de salle</td>
                <td>Heure début</td>
                <td>Heure fin</td>
                <td>Motif</td>
                <td>Nombre de personnes</td>
            </tr>
            <tr>
                <td>Nom de salle</td>
                <td>Heure début</td>
                <td>Heure fin</td>
                <td>Motif</td>
                <td>Nombre de personnes</td>
            </tr>
        </table>
    </div>
{% endblock content %}
