{% extends 'base.html' %}
{% load static %}

{% block title %}Affichage des salles{% endblock title %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}

    <div class="container">
        <div class="col-sm-12">
            <a class="btn btn-primary" type="button" href="{% url 'roomdashboard_new' %}">
                <i class="bi bi-plus-lg"></i>
                Ajouter une nouvelle salle
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row content roomdashboard">
            {% for room in object_list %}
                {% if forloop.last and not forloop.counter|divisibleby:2 %}
                    <!-- Si c'est le dernier élément et que le nombre total d'éléments est impair -->
                    <div class="col-sm-12">
                        <div class="card">
                            <img src="{{ MEDIA_PREFIX }}/{{ room.image }}" class="card-img-top" alt="{{ room.libRoom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.libRoom }}</h5>
                                <p class="card-text">Nombre de pers. max. : {{ room.maxCapacity }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                            </ul>
                            <div class="card-body">
                                <a href="{% url 'roomdashboard_edit' room.pk %}" class="card-link">Modifier</a>
                                <a href="{% url 'roomdashboard_delete' room.pk %}" class="card-link">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <!-- Pour tous les autres éléments, y compris les impairs sauf le dernier s'il est impaire -->
                    <div class="col-sm-12 col-md-6">
                        <div class="card">
                            <img src="{{ MEDIA_PREFIX }}/{{ room.image }}" class="card-img-top" alt="{{ room.libRoom }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ room.libRoom }}</h5>
                                <p class="card-text">Nombre de pers. max. : {{ room.maxCapacity }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">An item</li>
                                <li class="list-group-item">A second item</li>
                                <li class="list-group-item">A third item</li>
                            </ul>
                            <div class="card-body">
                                <a href="{% url 'roomdashboard_edit' room.pk %}" class="card-link">Modifier</a>
                                <a href="{% url 'roomdashboard_delete' room.pk %}" class="card-link">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
