{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Modifier</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content col-sm-12">
            <form class="roomreservation" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.libRoom | as_crispy_field }}
                {{ form.description | as_crispy_field }}
                {{ form.image | as_crispy_field }}
                {{ form.maxCapacity | as_crispy_field }}

                <button type="submit" class="btn btn-primary button-style">Valider</button>
            </form>
        </div>
    </div>

    <script>
        // Workaround to remove the "Currently set" text
        let elem = document.querySelector(".custom-file a");
        const customFile = document.querySelector(".custom-file");
        elem.remove();
        elem = document.querySelector(".custom-file br");
        elem.remove();
        customFile.innerHTML = customFile.innerHTML.replace('Currently:', '');
        customFile.innerHTML = customFile.innerHTML.replace('Change:', '');
    </script>
{% endblock content %}
