{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}

    <div class="container">
        <div class="col-sm-12">
            <a class="btn btn-primary" type="button" href="{% url 'roomdashboard_new' %}">
                <i class="bi bi-plus-lg"></i>
                Ajouter une nouvelle salle
            </a>
        </div>
    </div>

    <div class="container">
        <div class="row content roomdashboard">
            {% for room in object_list %}
                <div class="col-sm-12 col-md-6">
                    <div class="card shadow-sm">
                        <img src="{{ MEDIA_PREFIX }}{{ room.image }}" class="card-img-top object-fit-none" alt="{{ room.libRoom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ room.libRoom }}</h5>
                            <p class="card-text">{{ room.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Nombre de pers. max. : {{ room.maxCapacity }}</li>
                        </ul>
                        <div class="card-body">
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Boutons">
                                <div class="btn-group" role="group" aria-label="Modifier et supprimer">
                                    <a href="{% url 'roomdashboard_edit' room.pk %}" class="btn btn-warning cancel-button">Modifier</a>
                                    <a href="{% url 'roomdashboard_delete' room.pk %}" class="btn btn-danger cancel-button">Supprimer</a>
                                </div>
                                <div class="input-group">
                                    <a href="{% url 'roomdashboard_detail' room.pk %}" class="btn btn-danger booked-button">Voir</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
