{% extends 'base.html' %}
{% load static %}

{% block title %}Détails de la salle{% endblock title %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}

    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Détails de la salle</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content col-sm-12">
            <div class="card detail-card">
                <div class="row g-0">
                    <div class="col-md-4 img-max">
                        <img src="{{ MEDIA_PREFIX }}{{ object.image }}" class="img-fluid rounded-start" alt="{{ room.libRoom }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.libRoom }}</h5>
                            <p class="card-text">{{ object.description }}</p>
                            <p class="card-text"><small class="text-body-secondary">Nombre de pers. max. : {{ object.maxCapacity }}</small></p>
                        </div>
                        <div class="card-body">
                            <div class="btn-group card-link" role="group" aria-label="Boutons">
                                <a href="{% url 'roomdashboard_edit' object.pk %}" class="btn btn-warning cancel-button">Modifier</a>
                                    <a href="{% url 'roomdashboard_delete' object.pk %}" class="btn btn-danger cancel-button">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Réservation en cours</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content col-sm-12">
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Historique</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content col-sm-12">
        </div>
    </div>
{% endblock content %}
