{% extends 'base.html' %}

{% load static %}

{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}
    <div class="container">
        <div class="col-sm-12">
            <h2 class="container-title">Réservation de salle(s) en attente</h2>
        </div>
    </div>

    <div class="container">
        <div class="row content roomdashboard">
            {% if object_list|length == 0 %}
                <div class="col-sm-12">
                    <div class="card shadow-sm text-bg-dark empty-card mb-5">
                        <div class="empty-card-space"></div>
                        <div class="card-img-overlay empty-card-text">
                            <h5 class="card-title fs-4">Aucune réservation en attente</h5>
                            <p class="card-text fs-6">Aucune réservation de salle est en attente de confirmation.</p>
                        </div>
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <div class="empty-card-button"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for bookedroom in object_list %}
                {% if bookedroom.status == 'pending' %}
                    <div class="col-sm-12 col-md-6">
                        <div class="card shadow-sm text-bg-dark position-relative card-available-rooms">
                            <img src="{{ MEDIA_PREFIX }}{{ bookedroom.room_category.image }}" class="object-fit-cover" alt="{{ bookedroom.room_category.libRoom }}">
                            <div class="card-img-overlay">
                                <h5 class="card-title fs-3">{{ bookedroom.room_category.libRoom }}</h5>
                                <p class="card-text fs-6">{{ bookedroom.motif }}</p>
                                <p class="card-text fs-6">{{ bookedroom.date }}</p>
                                <p class="card-text fs-6">{{ bookedroom.startTime }} -> {{ bookedroom.endTime }}</p>
                                <span class="badge text-bg-secondary fs-7">{{ bookedroom.peopleAmount }} / {{ bookedroom.room_category.maxCapacity }} personne(s)</span>
                            </div>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <a href="{% url 'bookedrooms_validation_validated' bookedroom.pk %}" class="btn btn-warning button-style"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-custom-class="edit-tooltip"
                                   data-bs-title="Accepter la réservation">
                                    <i class="bi bi-calendar-check"></i>
                                </a>
                                <a href="{% url 'bookedrooms_validation_refused' bookedroom.pk %}" class="btn btn-danger button-style button-red ml-2"
                                   data-bs-toggle="tooltip"
                                   data-bs-placement="top"
                                   data-bs-custom-class="delete-tooltip"
                                   data-bs-title="Refuser la réservation">
                                    <i class="bi bi-calendar-x"></i>
                                </a>
                                <div class="flex-grow-1"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if object_list|length > 0 %}
                {% if object_list|length|divisibleby:2 %}
                    <div class="col-sm-12">
                        <div class="card shadow-sm text-bg-dark empty-card mb-5">
                            <div class="empty-card-space"></div>
                            <div class="card-img-overlay empty-card-text">
                                <h5 class="card-title fs-4">Aucune autre réservation est en attente</h5>
                                <p class="card-text fs-6">Vous pouvez valider la réservation avec le bouton contenant une icône de calendrier avec une coche et refuser la réservation avec le bouton contenant une icône de calendrier avec une croix.</p>
                            </div>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="empty-card-button"></div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-sm-12 col-md-6">
                        <div class="card shadow-sm text-bg-dark empty-card">
                            <div class="empty-card-space"></div>
                            <div class="card-img-overlay empty-card-text">
                                <h5 class="card-title fs-4">Aucune autre réservation est en attente</h5>
                                <p class="card-text fs-6">Vous pouvez valider la réservation avec le bouton contenant une icône de calendrier avec une coche et refuser la réservation avec le bouton contenant une icône de calendrier avec une croix.</p>
                            </div>
                            <div class="card-body d-flex justify-content-center align-items-center">
                                <div class="empty-card-button"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock content %}
